  <div class='container feel'>
    <h3>This is how you were feeling on <%= long_form_date(feel.created_at) %>:</h3>
    <p>Level of fatigue: <%= feel.fatigue_rating %></p>
    <p>Level of hunger: <%= feel.hunger_rating %></p>
    <p>Level of thirst: <%= feel.thirst_rating %></p>
    <p>Level of <%= feel.discomforts.location %> pain: <%= feel.discomforts.rating %></p>
    <p>Level of <%= feel.comforts.location %> goodness: <%= feel.comforts.rating %></p>

  </div>

